.vscode/
.vscodeignore
.eslintignore
*.vsix
*.txt
*.vsix
*.git*
Debugging.md
Testing.md
testing-resources/
client/testFixture/
node_modules/
scripts/
media/
**/tsconfig.json
**/webpack.config.js
**/*.ts
**/*.map
**/*.h
**/*.hh
**/*.cpp
**/*.cc
**/*.c
