.vscode/
.cspell/
.github/
.vscodeignore
.eslintignore
*.vsix
*.txt
*.git*
Debugging.md
Testing.md
testing-resources/
scripts/
media/
node_modules/ascii85/test/
**/cspell.json
**/tsdoc.json
**/tsconfig.json
**/webpack.config.js
**/*.ts
**/*.tsbuildinfo
**/*.mts
**/*.map
**/*.h
**/*.hh
**/*.cpp
**/*.cc
**/*.c
